          <div class="row top-row">
            <div class="col-md-6">
              <h1 class="text-center" id="experience">
                <span class="icomoon dim-icon icon icon-desklamp" aria-hidden="true"></span>
                Experience 
                <span class="icomoon dim-icon icon icon-visitor" aria-hidden="true"></span>
              </h1>

              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  {% for job in jobs %}
                  <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active"{% endif %}></li>
                  {% endfor %}
                </ol>
                <div class="carousel-inner">
{% for job in jobs %}
                  <div class="{% if forloop.first %}active {% endif %}item paper-style">
                    <div class="carousel-container">
                      <div class="work-history-title">
                        <span class="work-history-job-title">{{ job.title }}</span>
                        <span class="work-history-dates">{{ job.start|date:"m/y" }} - 
    {% if job.end == None %}
        Present
    {% else %}
        {{ job.end|date:"m/y" }}
    {% endif %}
                        </span>
                      </div>
  
                      <div class="row work-company">
                        <span class="pull-left">{{ job.company }}
                          <a href="{{ job.company.link }}">
                            <span class="icomoon icon icon-link" aria-hidden="true"></span>
                          </a>
                        </span>
                        <span class="pull-right">{{ job.department }}</span>
                      </div>
                      <div class="work-tasks">
                        <div id="timeline-row" class="col-md-12">
                          <ul class="work-details">
    {% for task in job.tasks.all %}
                            <li>{{ task.description }}</li>
    {% endfor %}
                          </ul>
                        </div>
                      </div>
                      <div class="paper-style-tape{% if forloop.counter|divisibleby:2 %} paper-style-tape-skewed{% endif %}"></div>
                    </div>
                  </div>
{% endfor %}
                </div>

                <a class="carousel-control left" href="#myCarousel" data-slide="prev" role="button">
                  <span>&lsaquo;</span>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next" role="button">
                  <span>&rsaquo;</span>
                </a>
              </div>
              <h1 class="text-center" id="education-title">
                <span class="icomoon dim-icon icon icon-graduate" aria-hidden="true"></span>
                Education 
                <span class="icomoon dim-icon icon icon-books" aria-hidden="true"></span>
              </h1>
              <div class="col-md-12 text-center" id="education">
                <strong>
                  <h4 class="text-center">
                    <a href="http://www.nmsu.edu">New Mexico State University</a>
                  </h4>
                </strong>
                <h5 class="text-center">Bachelor of Science Degree</h5>
                <h5 class="text-center">Double Major:
                  <a href="http://www.cs.nmsu.edu/wp13/bs-in-cs/">Computer Science</a> &
                  <a href="http://www.math.nmsu.edu/undergradprogram/mathmajor.html">Mathematics</a>
                </h5>
                <h5 class="text-center">Supplementary Major:
                    <a href="http://www.math.nmsu.edu/undergradprogram/supmajor2.html">Applied Mathematics</a>
                </h5>
              </div>

            </div>

            <div class="col-md-6">
              <h1 class="text-center" id="skill-title">
                <span class="icomoon dim-icon icon icon-wrench icon-flipped" aria-hidden="true"></span>
                Skills
                <span class="icomoon dim-icon icon icon-hammer" aria-hidden="true"></span>
              </h1>
              <center><div id="skillcloud"></div></center>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-center" id="history">
                <span class="icomoon dim-icon icon icon-calendar" aria-hidden="true"></span>
                Timeline 
                <span class="icomoon dim-icon icon icon-clock" aria-hidden="true"></span>
              </h1>
              <div id="myTimeline"></div>
            </div>
          </div>

          <script>
            var interactive_init = function() {

              // Set up some caching  ... we only want to search the DOM for things once if we can help it
              var $myCarousel = $('#myCarousel');
              var $myTimeline = $('#myTimeline');
              var $myCloud = $('#skillcloud');
              var $body = $('body');

              var tipFormat = _.template(
                '<div class="event-tip" data-id=<%= data.id %>id="event-<%= data.id %>-tip"><%= data.tip1 %></div>' +
                '<div class="tooltip-job-title"><%= data.tip2 %></div>', null, {variable: 'data'});

              var delay = (function(){
                var timer = 0;
                return function(callback, ms){
                  clearTimeout (timer);
                  timer = setTimeout(callback, ms);
                };
              })();

              // Realign the tooltip in the timeline when we are done resizing the window
              $(window).resize(function() {
                $('.timeline-event')
                  .tooltip('hide');
                delay(function() {
                  if ($body.width() > 990) {
                    $('.timeline-event')
                      .tooltip('show');
                  }
                }, 500);
              });

              // Get our data
              $.getJSON('/api/v1/skills/?format=json&limit=100').success(function(response) {
                var skill_hash = {};
  
                // The value in the DB column is 'name', but we need the key to be 'text'
                // in order to work with the 3rd party jQCloud plugin ... the value should
                // really be a constructor value
                var skills = [];
                for (var ii = 0; ii < response.objects.length; ii++) {
                  skills.push({
                    weight: response.objects[ii].weight,
                    text: response.objects[ii].name,
                    link: response.objects[ii].link
                  });
                }
 
                // Construct the Skill Cloud 
                $myCloud.jQCloud(
                  skills, {
                    afterCloudRender: function() {
                      $(this).find('a').each(function(i, e) {
                        var $e = $(e);
                        skill_hash[$e.text()] = $e;
                      });
                    },
                    removeOverflowing: false,
                    delayedMode: true
                  }
                );
  
                // Set the carousel to automatically slide
                $myCarousel.carousel({interval: 90000});
                $myCarousel.carousel('cycle');
 
                // Now retrieve and use the job information data 
                $.getJSON('/api/v1/jobs/?format=json&limit=100').success(function(jobs) {
                  var events = [];
                  var ii = jobs.objects.length;
                  while (ii--) {
                    var thisJob = jobs.objects[ii];
                    events.push({
                      id: ii + 1,
                      range: [new Date(thisJob.start), thisJob.end ? new Date(thisJob.end) : new Date()],
                      tip: [thisJob.company.short_name, thisJob.short_title],
                      skills: _.pluck(thisJob.skills, 'name')
                    });  
                  }

                  // Construct the Time line widget
                  $myTimeline.timeline({
                    tipTrigger: 'manual',
                    events: events,
                    tipFormatter: function(event) {
                      if (event.tip) {
                        return tipFormat({
                          id: event.id,
                          tip1: event.tip[0],
                          tip2: event.tip[1]
                        });
                      }
                    },
                    afterCreate: function(e) {
                      var $this = $(this);
                      $this.find('.timeline-events')
                        .hover(
                          function(e) {
                          },
                          function(e) {
                            if (!$.isEmptyObject(skill_hash)) {
                              for (var ii = 0; ii < Object.keys(skill_hash).length; ii++) {
                                skill_hash[Object.keys(skill_hash)[ii]].removeClass('dim');
                              }
                              $(this).parents('.dimmed').removeClass('dimmed');
                            }
                          }
                        );
    
                      $this.find('.timeline-event')
                        .tooltip('show')
                        .click(function(e) {
                          var this_event_num = $(this).data('id') - 1;
                          if ($.isNumeric(this_event_num)) {
                            $myCarousel.carousel(this_event_num);
                          }
                        })
                        .hover(
                          function(e) {
                            var $this = $(this);
                            if ($body.width() < 990) {
                              $this.tooltip('show');
                            }
                            if ($this.parents('.dimmed').length == 0 && !$.isEmptyObject(skill_hash)) {
                              for (var ii = 0; ii < Object.keys(skill_hash).length; ii++) {
                                skill_hash[Object.keys(skill_hash)[ii]].addClass('dim');
                              }
                              $myTimeline.addClass('dimmed');
                            }
    
                            var my_skills = $this.data('event').skills;
                            if (!$.isEmptyObject(skill_hash) && my_skills) {
                              for (var ii = 0; ii < my_skills.length; ii++) {
                                skill_hash[my_skills[ii]].removeClass('dim');
                              }
                            }
                          },
                          function(e) {
                            var $this = $(this);
                            if ($body.width() < 990) {
                              $this.tooltip('hide');
                            }
                            var my_skills = $this.data('event').skills;
                            if (my_skills && !$.isEmptyObject(skill_hash)) {
                              for (var ii = 0; ii < Object.keys(skill_hash).length; ii++) {
                                skill_hash[Object.keys(skill_hash)[ii]].addClass('dim');
                              }
                            }
                          }
                        );
                    }
                  });
                });
              });
            };
          </script>
