          <div id="standard">
            <div class="row">
              <div class="span12">
                <h1 class="text-center">Diana Whitten</h1>
                <h3 class="text-center">diana.whitten@gmail.com</h3>
                <h1 class="text-center">Qualifications</h1>
              </div>
            </div>

            <div class="row">
              <div class="span2 padding">
              </div>
              <div id="job-qualifications" class="span10">
                <ul>
                  <li class="font-weight-500">Software Engineer with 10 years of full stack software development, test and system administration experience</li>
                  <li class="font-weight-500">Skilled User Experience Engineer, driven to create sleek, intuitive and modern User Interfaces</li>
                  <li class="font-weight-500">Self-Motivated and capable of working well independently, remotely, or in a team environment</li>
                  <li class="font-weight-500">Able to learn and adapt quickly to any programming language or technology</li>
                  <li class="font-weight-500">Eager to apply exceptional analytical problem solving skills to reveal creative, innovative and efficient solutions</li>
                </ul>
              </div>
              <div class="span1">
              </div>
            </div>

            <div class="row">
              <div class="span12">
                <h1 class="text-center">Technical Expertise</h1>
              </div>
            </div>
            <div id="technical-skills" class="row">
              <div class="span4">
                <h3 class="font-underline"><center>Current</center></h3>
                <div class="text-center">Python / Django</div>
                <div class="text-center">JavaScript / jQuery / OpenLayers</div>
                <div class="text-center">jQuery UI / Twitter's Bootstrap 2 & 3</div>
                <div class="text-center">HTML5 / CSS3</div>
                <div class="text-center">PostgreSQL / MySQL / Sqlite</div>
                <div class="text-center">XML / JSON</div>
              </div>
              <div class="span4">
                <h3 class="font-underline"><center>Past Experience</center></h3>
                <div class="text-center">C / C++ / STL</div>
                <div class="text-center">VB for Applications</div>
                <div class="text-center">SVG / Web Fonts</div>
                <div class="text-center">Shell scripting (bash, csh)</div>
                <div class="text-center">Midas2k / xMidas</div>
                <div class="text-center">Oracle, MongoDB</div>
              </div>
              <div class="span4">
                <h3 class="font-underline"><center>Working Knowledge</center></h3>
                <div class="text-center">Java</div>
                <div class="text-center">Delphi</div>
                <div class="text-center">Soap (suds)</div>
                <div class="text-center">Zenoss Zenpacks</div>
                <div class="text-center">PHP</div>
                <div class="text-center">Perl</div>
              </div>
            </div>

            <div id="technical-skills2" class="row">
              <div class="span12">
                <dl class="dl-horizontal">
                  <dt class="font-underline">Applications:</dt>
                  <dd>git, Mercurial, vim/gvim, Cobbler, Zenoss 4, Lotus Notes, Adobe Photoshop, Adobe Illustrator, Microsoft Office, IBM Configuration Management Version Control, Borland Star Team, MediaWiki, Subversion, Firebug</dd>
                  <dt class="font-underline">Hardware:</dt>
                  <dd>IBM's DS8000, 800 and F model Enterprise Storage Servers, Flexible Service Processor, pSeries Hypervisor and xSeries Hardware Management Console, Ventana's Benchmark IHC, XT, Special Stains, Discovery</dd>
                  <dt class="font-underline">Operating Systems:</dt>
                  <dd>Windows (95, 98, NT, 2000 Server Family, XP, 7, 8), AIX Unix, Linux (Red Hat, Ubuntu, etc), limited experience with Solaris, VM, MVS</dd>
                </dl>
              </div>
            </div>

            <div class="row">
              <div class="span12">
                <h1 class="text-center">Experience</h1>
              </div>
            </div>

            {% for company in companies %}
            <div class="row">
              <div class="span6 font-underline job-company">{{ company.company.name }}</div>
              <div class="span6 font-underline text-right job-local">{{ company.company.location }}</div>
            </div>
            {% for job in company.jobs %}
            <div class="row">
              <div class="span4 job-duration"><div>{{ job.start }} - {{ job.end }}</div></div>
              <div class="span4 text-center job-department">{{ job.department }}</div>
              <div class="span4 text-right job-title">{{ job.title }}</div>
            </div>
            <div class="row">
              <div class="span1">
              </div>
              <div class="font-weight-500 span11">
                <ul>
                  {% for task in job.tasks.all %}
                  <li>{{ task.description }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endfor %}
            {% endfor %}

            <div class="row">
              <div class="span12">
                <h1 class="text-center">Education</h1>
                <h2 class="text-center">New Mexico State University</h2>
                <h3 class="text-center">Bachelor of Science degree</h3>
                <h3 class="text-center">Double Major: Computer Science & Mathematics</h3>
                <h3 class="text-center">Supplementary Major: Applied Mathematics</h3>
                <h3 class="text-center">Graduated May, 2004</h3>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="span12">
                <h1 class="font-underline text-center">References</h1>
                <h4 class="text-center">Available Upon Request</h4>
              </div>
            </div>

          </div>
          <script>
            var standard_init = function() {
              $('.event-tip').parents('.tooltip').remove();
            };
          </script>
