div.whimsical-timeline table {
  margin: 10px;
  width: 100%;
  table-layout: fixed;
}

div.whimsical-timeline table td {
  //padding: 5px;
  text-align: center;
}

div.whimsical-timeline table tr.timeline-years td {
  text-align: left;
}

div.whimsical-timeline tr.timeline-top {
  height: 1em;
}

div.whimsical-timeline tr.timeline-top td {
  border-top: 3px solid #472E12;
}

div.whimsical-timeline tr.timeline-top td:nth-child(12n+2) {
  border-left: 3px solid #472E12 !important;
}

div.whimsical-timeline tr.timeline-top td:nth-last-child(2) {
  border-right: 3px solid #472E12 !important;
}

div.whimsical-timeline tr.timeline-top td:nth-last-child(1) {
  border-right: 0px none;
}

div.whimsical-timeline tr.timeline-top td:nth-last-child(1),
div.whimsical-timeline tr.timeline-top td:nth-child(1) {
  border-top: 0px none;
}

/* To only show year ticks, set the following border to none */
div.whimsical-timeline tr.timeline-top td {
  border-right: #472E12 1px solid;
}

div.whimsical-timeline tr.timeline-months {
  border: none;
}

div.whimsical-timeline tr.timeline-months td {
  margin-left: 50%;
}

div.whimsical-timeline tr.timeline-events td.timeline-event {
  background-color: #800;
  height: 1em;
}

div.whimsical-timeline tr.timeline-events td.timeline-event.filler {
  background-color: transparent !important;
}
